// Code
//
// Inline and block-level code snippets. Includes tweaks to syntax highlighted
// snippets from Pygments/Rouge and Gist embeds.

code,
pre {
  font-family: var(--code-font);
}

code {
  font-size: 85%;
  color: var(--code-color);
  background-color: var(--code-bg);
  padding: .1em .4em;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: var(--spacer-3);
  overflow: auto;
}

pre code {
  color: inherit;
  background: none;
  padding: 0;
  border: 0;
}

.highlight {
  padding: var(--spacer);
  margin-bottom: var(--spacer);
  background-color: var(--code-bg);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  pre {
    margin-bottom: 0;
  }

  // Triple backticks (code fencing) doubles the .highlight elements
  .highlight {
    padding: 0;
    border: 0;
  }
}

.rouge-table {
  margin-bottom: 0;
  font-size: 100%;

  &,
  td,
  th {
    border: 0;
  }

  .gutter {
    vertical-align: top;
    user-select: none;
    opacity: .25;
  }
}

// Gist via GitHub Pages
.gist .markdown-body {
  padding: 15px !important;
}
